[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-cors-headers = "*"
psycopg2 = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-jsonapi = "*"
pillow = "*"
django-better-admin-arrayfield = "*"
django-filter = "*"
drf-yasg = "*"
pytils = "*"
celery = "*"
pyunpack = "*"
patool = "*"
rarfile = "*"
gunicorn = "*"
redis = "*"
sorl-thumbnail = {editable = true,git = "https://github.com/jazzband/sorl-thumbnail",ref = "master"}
sorl-thumbnail-serializer-field = "*"

[requires]
python_version = "3.7"
